.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}
.first-thumb ,
.second-thumb ,
.third-thumb {
  position: relative;
  width: 150px;
  height: 150px;
}
.first-thumb {
  background: rgb(255, 144, 144);
  top: 0;
  left: 0;
  z-index: 1;
}
.second-thumb {
  background: rgb(132, 132, 255);
  top: 50px;
  right: 50px;
  z-index: 2;
}
.third-thumb {
  background: rgb(121, 209, 121);
  top: 100px;
  right: 100px;
  z-index: 1;
}